---
import BaseLayout from '../layouts/BaseLayout.astro';
import { createBasePath } from '../lib/paths';

const withBase = createBasePath(import.meta.env.BASE_URL);
---

<BaseLayout title="Home" activePage="home">
  <div class="columns">
    <div class="column-1">
      <i class="fa fa-check-circle-o fa-2x h1"></i><h1>Boutique Law</h1>
      <p>Allison Hart is a unique attorney providing high-quality, efficient legal representation in all legal matters. The focus is to find creative solutions to the challenging problems presented by complex cases, including issues related to Divorce, Child Custody, Child Support Guidelines, Modifications, Victim’s Protective Orders, Foreclosures, DUI, Wills and Trusts, Personal injury, Expungement and other Criminal matters. We believe it is vital to provide convenience to our clients and reduce the difficulty of the legal process through clear communication.</p>
    </div>
    <div class="column-2">
      <i class="fa fa-check-circle-o fa-2x h1"></i><h1>A Winning Formula</h1>
      <p>The approach to each case is governed by the client's circumstances and needs. Some clients are best served by aggressive litigation; other clients benefit from negotiations based on thorough preparation and in-depth knowledge of their individual situations. Whatever approach is needed, every case is prepared in anticipation of a trial so that if necessary, we are ready for any issues to arise. This go-to team of experts include CPAs; psychiatrists; real estate appraisers; business valuation experts; private investigators; computer forensic experts; and more.</p>
    </div>
    <div class="column-3">
      <i class="fa fa-check-circle-o fa-2x h1"></i><h1>Immediate Help</h1>
      <p>To schedule a consultation, please use one of the methods below:</p>
      <ul>
        <li><i class="fa fa-phone fa-lg"></i> Phone: <a href="tel:4053406340">(405) 340-6340</a></li>
        <li><i class="fa fa-envelope-o fa-lg"></i> Email: <a href="mailto:allison@hartlawfirm.org">allison@hartlawfirm.org</a></li>
      </ul>
      <p>She serves the greater Oklahoma City area, including communities such as Edmond, Oklahoma City, Moore, Norman, El Reno, Guthrie, Stillwater and Shawnee. For a full list of services and areas of practice, visit the <a href={withBase('/practice')}>practice</a> page.</p>
    </div>
  </div>

  <div class="award-wrap">
    <a href="https://www.expertise.com/ok/oklahoma-city/child-support-lawyers" style="border: 0;">
      <img style="width: 200px; display: block;" width="200" height="160" src="https://res.cloudinary.com/expertise-com/image/upload/f_auto,fl_lossy,q_auto/w_auto/remote_media/awards/ok_oklahoma-city_child-support-lawyers_2022.svg" alt="Best Child Support Lawyers in Oklahoma City" />
    </a>
  </div>

  <div class="content">
    <blockquote>
      <p>Allison represented me over the last five years, and I have asked her opinion on several other subjects. She is thoughtful, intelligent, and very thorough. I would strongly recommend her services.</p>
    </blockquote>
    <blockquote>
      <p>Allison is a professional and a thorough attorney. She truly helped me in a stressful time. Her knowledge in her profession and her great personality compliment her in so many ways. She treated me with respect and care.</p>
    </blockquote>
    <blockquote>
      <p>Allison been my Family Law attorney for the last 6 years. She is one of the most honest and trustworthy attorneys I have dealt with! She treats her clients like family and I recommend her to everyone who asks for a referral to a great attorney!</p>
    </blockquote>
    <blockquote>
      <p>Allison has been an awesome attorney! Very prompt communications and dedication above and beyond regular work hours.</p>
    </blockquote>
  </div>
</BaseLayout>
