---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Practice" activePage="practice">
  <div class="content">
    <i class="fa fa-info fa-2x h1"></i><h1>About the Practice</h1>
    <p>Allison established her career in law 10 years ago in Edmond, Oklahoma. Today, she works in Oklahoma City near downtown. Allison started the firm with the idea to practice family law and provide the best service to her clients without high cost and sometimes even for no cost at all. As she acquired more knowledge of different legal fields, the firm expanded to where it efficiently cares for all the people of Oklahoma regardless of type of case.</p>
    <p>After the firm had become more established, connections between Oklahoma's attorneys and professionals from all areas built the strength and power this firm holds. Allison Hart has practiced law in Edmond, Oklahoma City, Moore, Norman, El Reno, Guthrie, Stillwater, Shawnee, and other smaller towns and cities in the state. The amount of ground covered by this firm proved only how versatile and able the firm actually is. Very few firms have the ability to manage such a workload so efficiently.</p>
    <p><strong>If you are involved in or interested in pursuing a legal case, please review the list of areas she currently practices below:</strong></p>
    <br />
    <i class="fa fa-gavel fa-2x h1"></i><h1>Areas of Practice</h1>
  </div>
  <div class="columns">
    <div class="column-1">
      <h2><i class="fa fa-users section-icon" aria-hidden="true"></i>Family Law</h2>
      <ul>
        <li>Divorce</li>
        <li>Paternity</li>
        <li>Child Custody</li>
        <li>Visitation</li>
        <li>Child Support Guidelines</li>
        <li>Grandparents Rights</li>
      </ul>
      <h2><i class="fa fa-heart section-icon" aria-hidden="true"></i>Adoption</h2>
      <ul>
        <li>Step-parent Adoption</li>
        <li>Termination of Parental Rights</li>
      </ul>
    </div>
    <div class="column-2">
      <h2><i class="fa fa-balance-scale section-icon" aria-hidden="true"></i>Criminal</h2>
      <ul>
        <li>Driving Under the Influence</li>
        <li>Driving While Intoxicated</li>
        <li>Public Intoxication</li>
        <li>Possession</li>
        <li>Probation Revocations</li>
      </ul>
      <h2><i class="fa fa-shield section-icon" aria-hidden="true"></i>Consumer Protection</h2>
      <ul>
        <li>Collections</li>
        <li>Student Loans</li>
      </ul>
    </div>
    <div class="column-3">
      <h2><i class="fa fa-folder-open section-icon" aria-hidden="true"></i>Estate Planning</h2>
      <ul>
        <li>Wills</li>
        <li>Trusts</li>
        <li>Power of Attorney</li>
        <li>Living Wills</li>
      </ul>
      <h2><i class="fa fa-briefcase section-icon" aria-hidden="true"></i>Others/Misc.</h2>
      <ul>
        <li>Personal Injury</li>
        <li>Wrongful Termination</li>
        <li>Foreclosures</li>
      </ul>
    </div>
  </div>
</BaseLayout>
