<footer>
  <div class="content footer-contact-row">
    <a href="tel:4053406340"><i class="fa fa-phone inline-icon" aria-hidden="true"></i>Call</a>
    <a href="mailto:allison@hartlawfirm.org"><i class="fa fa-envelope inline-icon" aria-hidden="true"></i>Email</a>
    <a href="https://secure.lawpay.com/pages/allisonhart/operating/" target="_blank" rel="noopener noreferrer"><i class="fa fa-credit-card inline-icon" aria-hidden="true"></i>Pay Online</a>
  </div>
</footer>
