<footer>
  <div class="columns">
    <div class="column-1">
      <p>Oklahoma City photograph by George Miquilena.</p>
    </div>
    <div class="column-2">
      <p><i class="fa fa-credit-card fa-lg"></i> <a href="https://secure.lawpay.com/pages/allisonhart/operating/" target="_blank" rel="noopener noreferrer">Pay Online Now</a></p>
    </div>
    <div class="column-3">
      <p>Website designed and managed by <a href="http://cbowlan.com/" target="_blank" rel="noopener noreferrer">Connor Bowlan</a>.</p>
    </div>
  </div>
</footer>
